.feed{
    flex: 0.4;
    border-right: 1px solid var(--theme-color);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed-header{
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 100;
    border: 1px solid var(--theme-background-color);
    padding: 15px 20px;
}