.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOption > .MuiSvgIcon-root{
    padding: 20px;
}

.sidebarOption:hover{
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    transition: color 100ms ease-out;
    border-radius: 30px;
}

.sidebarOption-active{
    color: var(--theme-color);
}

.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}